.container {
    display: flex;
    gap: 100px;
}
.imgContainer {
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.textContainer {
    flex: 2;
    flex-direction: column;
    gap: 50px;
}

.img {
    object-fit: cover;
}

.title {
    font-size: 64px;
    margin-bottom: 18px;
}

.details {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detailUser {
    gap: 10px;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
}

.detailText {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.detailTitle {
    color: gray;
    font-weight: bold;
}

.detailValue {
    font-weight: 500;
}

.desc {
    line-height: 32px;
    text-align: justify;
}

.content {
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .imgContainer {
        display: none;
    }
}
