.links {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background-color: #fff;
}

.menuButtons,
.mobileLinks {
    display: none;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }
    .menuButtons {
        display: block;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 12px;
        background-color: white;
        border: none;
    }
    .mobileLinks {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
    }
}
